*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body{
    background-color: rgb(49, 48, 48);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.stopwatch{
    background-color: black;
    padding: 19px 36px;
    border-radius: 8px;
}

.timerDisplay{
    font-size: 45px;
    font-weight:700px ;
}

.buttons{
    margin: 20px 0px;
}

.btn{
    font-size: 20px;
    background:none;
    border: none;
   color:white;
   background-color: var(--clr);
   padding: 12px 24px;
   margin-inline-end: 10px;
   border-radius: 8px;
   cursor: pointer;
}